/* --------MOBILE-------- */

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

/* --------TABLET-------- */
@media screen and (min-width: 768px) {
  .container {
    width: 582px;
  }

  .container-two {
    width: 736px;
  }

  /* --------HEADER-------- */
  .header-border {
    border-bottom: 1px solid var(--list-card-set);
    padding: 0 16px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
  }

  .header-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-web);
    padding-top: 24px;
    padding-bottom: 24px;
    /* margin-right: 76px; */
    margin-right: 120px;
  }

  .header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-studio);
  }

  .header-btn-mobile {
    display: none;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-studio);
    transition: color var(--transition-dur-and-timing);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--header-contact-color);
  }

  .current-link {
    position: relative;
    color: var(--header-contact-color);
  }

  .current-link::after {
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 41px;
    background-color: var(--header-contact-color);
    border-radius: 2px;
    position: absolute;
  }

  /* ----------MAILTO and TEL---------- */
  .header-address {
    font-style: normal;
    display: flex;
  }

  .mailto-tel {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body);
    transition: color var(--transition-dur-and-timing);
  }

  .mailto-tel:hover,
  .mailto-tel:focus {
    color: var(--header-contact-color);
  }

  .mob-menu {
    display: none;
  }

  .menu-close-btn {
    display: none;
  }

  /* ----------SECTION HERO---------- */
  .hero {
    background-color: var(--logo-studio);
    background-image: var(--hero-gradient),
      url(../images/hero/people-office-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 188px 0; */
    padding: 112px 0;
    /* max-width: 1440px; */
    /* height: 600px; */
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--hero-gradient),
        url(../images/hero/people-office-tab-2x.jpg);
    }
  }

  .hero-title {
    text-transform: none;
  }

  /* --------SECTION TWO-------- */
  .section-two-margin {
    padding: 96px 16px;
  }
  .flex-two {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .section-two-list {
    flex-basis: calc((100% - 24px) / 2);
  }

  .section-two-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-studio);
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
  }

  /* --------SECTION FOUR-------- */
  .flex-four {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .img-background {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* --------SECTION FIVE-------- */
  .section-five-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
  }

  .section-five-item {
    flex-basis: calc((100% - 72px) / 3);
  }
  .section-five-link-icon {
    width: 168px;
    /* width: 190px; */
    height: 88px;
    border: 1px solid currentColor;
    color: var(--color-icon);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--transition-dur-and-timing),
      color var(--transition-dur-and-timing);
  }

  /* --------FOOTER-------- */
  .footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-web);
    display: block;
    text-align: left;
  }

  .footer-title-social-media {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-btn-1);
    margin-bottom: 16px;
    display: block;
    text-align: left;
  }

  /* --------FORM FOOTER-------- */
  .form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color-btn-1);
    display: block;
    margin-bottom: 16px;
    display: block;
    text-align: left;
  }

  .footer-input {
    width: 264px;
    /* width: 398px; */
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--brand-color-btn-1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: var(--brand-color-btn-1);
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: flex-start;
    flex-direction: row;
  }

  .footer-text {
    color: var(--button-footer-text);
    max-width: 264px;
    line-height: 1.5em;
    margin-top: 16px;
  }

  .form-label-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
}

/* .hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-btn-1);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
} */

/* --------DESCTOP-------- */
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .container-two {
    width: 1128px;
  }

  /* --------HEADER-------- */
  .header-border {
    border-bottom: 1px solid var(--list-card-set);
    display: flex;
    justify-content: space-around;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
  }

  .header-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-web);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
  }

  .header-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-studio);
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-studio);
    transition: color var(--transition-dur-and-timing);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--header-contact-color);
  }

  .current-link {
    position: relative;
    color: var(--header-contact-color);
  }

  .current-link::after {
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 41px;
    background-color: var(--header-contact-color);
    border-radius: 2px;
    position: absolute;
  }

  /* ----------MAILTO and TEL---------- */
  .header-address {
    font-style: normal;
    display: flex;
  }

  .header-contact {
    display: flex;
    gap: 40px;
  }

  .mailto-tel {
    font-family: "Roboto" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-body);
    transition: color var(--transition-dur-and-timing);
  }

  .mailto-tel:hover,
  .mailto-tel:focus {
    color: var(--header-contact-color);
  }

  .footer-link-icon:focus,
  .footer-link-icon:hover {
    background-color: var(--footer-social-color);
  }

  /* ----------SECTION HERO---------- */
  .hero {
    background-color: var(--logo-studio);
    background-image: var(--hero-gradient),
      url(../images/hero/people-office-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    height: 600px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--hero-gradient),
        url(../images/hero/people-office-2x.jpg);
    }
  }

  /* --------SECTION TWO-------- */
  .section-two-margin {
    padding: 120px 0;
    display: flex;
    justify-content: space-around;
  }

  .flex-two {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .section-two-list {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section-two-icon {
    height: 112px;
    border-radius: 4px;
    background-color: var(--button-footer-text);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-image: url(../images/section_1/clock.png),
      url(../images/section_1/rectangle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
  }

  .diagram {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-image: url(../images/section_1/diagram.png),
      url(../images/section_1/rectangle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
  }

  .astronaut {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-image: url(../images/section_1/astronaut.png),
      url(../images/section_1/rectangle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
  }

  .section-two-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-studio);
    width: 100%;
    margin-bottom: 8px;
  }

  .section-two-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* --------SECTION THREE-------- */
  .section-three {
    padding-bottom: 120px;
    display: flex;
  }

  .section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-studio);
    margin-bottom: 72px;
  }

  .flex-three {
    display: flex;
    gap: 24px;
  }

  /* --------SECTION FOUR-------- */
  .flex-four {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .img-background {
    background-color: var(--brand-color-btn-1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
  }

  /* --------SECTION FIVE-------- */
  .section-five-customers {
    padding: 120px 0;
  }

  .section-five-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  /* --------FOOTER-------- */
  .footer-background {
    background-color: var(--logo-studio);
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-text {
    color: var(--button-footer-text);
    max-width: 264px;
    line-height: 1.5em;
    margin-top: 16px;
  }
}
