:root {
  --color-body: #434455;
  --logo-web: #4d5ae5;
  --logo-studio: #2e2f42;
  --header-contact-color: #404bbf;
  --brand-color-btn-1: #ffffff;
  --button-footer-text: #f4f4fd;
  --button-color: #e7e9fc;
  --list-card-set: #e7e9fc;
  --footer-social-color: #31d0aa;
  --color-icon: #8e8f99;
  --hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --modal-color: #fcfcfc;
  --transition-dur-and-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--brand-color-btn-1);
  color: var(--color-body);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* ----------HEADER---------- */
.header-border {
  border-bottom: 1px solid var(--list-card-set);
  padding: 0 16px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 250px;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-studio);
}

.menu-close-btn {
  display: flex;
  border: none;
  background-color: transparent;
  margin-left: auto;
  width: 32px;
  height: 22px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-mobile-icon {
  position: absolute;
}

.header-list {
  display: none;
}

/* ----------MAILTO and TEL---------- */
.header-address {
  display: none;
}

/* --------MENU MOBILE-------- */
.mob-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: background var(--transition-dur-and-timing);
}

.button-menu-mobile:hover,
.button-menu-mobile:focus {
  background: var(--header-contact-color);
  border-radius: 50%;
}

.icon-close-btn {
  transition: fill var(--transition-dur-and-timing);
}

.header-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-link-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
  transition: color var(--transition-dur-and-timing);
}

.header-link-mobile:hover,
.header-link-mobile:focus {
  color: var(--header-contact-color);
}

.header-address-mobile {
  margin-bottom: 48px;
}

.tel-mobile {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-web);
}

.mailto-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

.tel-mobile-margin {
  margin-bottom: 40px;
}

.mobile-social {
  display: flex;
  gap: 56px;
}

.mobile-social-items {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-web);
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-dur-and-timing);
}

.mobile-social-icon {
  fill: var(--button-footer-text);
}

/* ----------SECTION HERO---------- */
.hero {
  background-color: var(--logo-studio);
  background-image: var(--hero-gradient),
    url(../images/hero/people-office-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 0;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--hero-gradient),
      url(../images/hero/people-office-mobile-2x.jpg);
  }
}

.hero-buttom {
  text-align: center;
}

.hero-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color-btn-1);
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-transform: capitalize;
}

.button-order-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-btn-1);
  background-color: var(--logo-web);
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-timing),
    box-shadow var(--transition-dur-and-timing);
}

.button-order-service:focus,
.button-order-service:hover {
  background-color: var(--header-contact-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------SECTION TWO---------- */
.section-two-margin {
  padding: 96px 16px;
}

.flex-two {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.section-two-icon {
  display: none;
}

.section-two-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
}

.section-two-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------SECTION THREE---------- */
.section-three {
  display: none;
}

.section-three-title {
  display: none;
}

.flex-three {
  display: none;
}

/* ----------SECTION FOUR---------- */
.section-four-background {
  background-color: var(--button-footer-text);
  /* padding: 120px 0; */
  padding: 96px 0;
}

.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio);
  margin-bottom: 72px;
}

.flex-four {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.img-background {
  background-color: var(--brand-color-btn-1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.saction-four-name-profession {
  padding: 32px 0;
  text-align: center;
}

.section-four-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
  margin-bottom: 8px;
}

.section-four-profession {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.saction-four-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.saction-four-social-items {
  width: 40px;
  height: 40px;
}

.saction-four-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-web);
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-dur-and-timing);
}

.saction-four-social-link:focus,
.saction-four-social-link:hover {
  background-color: var(--header-contact-color);
}

.saction-four-social-icon {
  fill: var(--button-footer-text);
}

/* ----------SECTION FIVE---------- */
.section-five-customers {
  padding: 96px 0;
}

.section-five-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-studio);
  margin-bottom: 72px;
}

.section-five-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.section-five-item {
  flex-basis: calc((100% - 16px) / 2);
}

.section-five-link-icon {
  width: 190px;
  height: 88px;
  border: 1px solid currentColor;
  color: var(--color-icon);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color var(--transition-dur-and-timing),
    color var(--transition-dur-and-timing);
}

.section-five-link-icon:focus,
.section-five-link-icon:hover {
  border-color: var(--header-contact-color);
  color: var(--header-contact-color);
}

.section-five-svg {
  fill: currentColor;
}

/* ----------BUTTON PORTFOLIO----------*/
.button-list {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.btn-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-web);
  background-color: var(--button-footer-text);
  cursor: pointer;
  border: 1px solid var(--list-card-set);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--transition-dur-and-timing),
    background-color var(--transition-dur-and-timing),
    box-shadow var(--transition-dur-and-timing),
    border-radius var(--transition-dur-and-timing),
    border var(--transition-dur-and-timing);
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  color: var(--brand-color-btn-1);
  background-color: var(--header-contact-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid var(--header-contact-color);
}

/* ----------LIST PORTFOLIO---------- */
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item {
  width: calc((100% - 48px) / 3);
}

.container-overlow-wrap {
  position: relative;
  overflow: hidden;
}

.section-overlow-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--button-footer-text);
  background-color: var(--logo-web);
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-timing);
}

.card-link:hover .section-overlow-text,
.card-link:focus .section-overlow-text {
  transform: translateY(0%);
}

.card-link {
  transition: box-shadow var(--transition-dur-and-timing);
}

.card-link:hover {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.border-list {
  border-right: 1px solid var(--list-card-set);
  border-bottom: 1px solid var(--list-card-set);
  border-left: 1px solid var(--list-card-set);
  padding: 32px 16px;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
  margin-bottom: 8px;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

/* ----------FOOTER---------- */
.footer-background {
  background-color: var(--logo-studio);
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web);
  display: block;
  text-align: center;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-footer-text);
}

.footer-text {
  color: var(--button-footer-text);
  max-width: 268px;
  line-height: 1.5em;
  margin-top: 16px;
}

.footer-title-social-media {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-btn-1);
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.footer-social-links {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-link-icon {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--logo-web);
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-dur-and-timing);
}

.footer-link-icon:focus,
.footer-link-icon:hover {
  background-color: var(--footer-social-color);
}

/* --------FORM FOOTER-------- */
.form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color-btn-1);
  display: block;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

.form-label-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.footer-input {
  width: 398px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--brand-color-btn-1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--brand-color-btn-1);
}

.footer-input::placeholder {
  color: var(--brand-color-btn-1);
}

.form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-btn-1);
  width: 165px;
  height: 40px;
  background: var(--logo-web);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  transition: background var(--transition-dur-and-timing),
    box-shadow var(--transition-dur-and-timing),
    border-radius var(--transition-dur-and-timing);
}

.form-btn:hover,
.form-btn:focus {
  background: var(--header-contact-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ----------MODAL WINDOW---------- */

.backdrop {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-timing),
    visibility var(--transition-dur-and-timing);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 408px;
  height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}

.button-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: var(--button-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: background var(--transition-dur-and-timing);
}

.button-modal-close:hover,
.button-modal-close:focus {
  background: var(--header-contact-color);
  border-radius: 50%;
}

.icon-close-btn {
  transition: fill var(--transition-dur-and-timing);
}

.button-modal-close:hover .icon-close-btn,
.button-modal-close:focus .icon-close-btn {
  fill: var(--brand-color-btn-1);
}

/* ----------FORM---------- */
.form-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-message-field {
  margin-bottom: 16px;
}
.modal-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-icon);
  margin-bottom: 4px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border var(--transition-dur-and-timing),
    outline var(--transition-dur-and-timing);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--logo-web);
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 16px;
  transition: fill var(--transition-dur-and-timing);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--logo-web);
}
.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  transition: outline var(--transition-dur-and-timing),
    border var(--transition-dur-and-timing);
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--logo-web);
}
.modal-form-check {
  position: absolute;
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-icon);
  cursor: pointer;
  margin-bottom: 24px;
}
.modal-form-fake-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: border var(--transition-dur-and-timing);
}
.modal-form-fake-check-icon {
  opacity: 0;
}
.modal-form-check:checked + .modal-form-check-desc > .modal-form-fake-check {
  background: var(--header-contact-color);
  border: 1px solid var(--header-contact-color);
}
.modal-form-check:focus + .modal-form-check-desc > .modal-form-fake-check {
  border: 1px solid var(--header-contact-color);
}
.modal-form-check:checked
  + .modal-form-check-desc
  > .modal-form-fake-check
  > .modal-form-fake-check-icon {
  opacity: 1;
  fill: var(--button-footer-text);
}
.modal-form-check-desc-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--logo-web);
}
.modal-form-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color-btn-1);
  background: var(--logo-web);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color var(--transition-dur-and-timing),
    box-shadow var(--transition-dur-and-timing);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background: var(--header-contact-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
